<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorPasswordText</key>
	<true/>
	<key>upperTextColor</key>
	<string>4CB547</string>
	<key>lowerTextColor</key>
	<string>1D451B</string>
	<key>symbolTextColor</key>
	<string>922890</string>
	<key>numberTextColor</key>
	<string>FF4CFC</string>
	<key>clearClipboard</key>
	<false/>
	<key>clearClipboardTime</key>
	<integer>30</integer>
	<key>globalHotkeyShowNotification</key>
	<true/>
	<key>globalHotkeyPlaySound</key>
	<false/>
	<key>isMenuApp</key>
	<false/>
	<key>randomUseSymbols</key>
	<true/>
	<key>randomMixedCase</key>
	<true/>
	<key>randomAvoidAmbiguous</key>
	<true/>
	<key>passwordLength</key>
	<string>20</string>
	<key>pronounceableSeparator</key>
	<integer>202</integer>
	<key>userPattern</key>
	<string>w##</string>
	<key>passphraseRadioSeparator</key>
	<integer>202</integer>
	<key>passphraseRadioCaseType</key>
	<integer>101</integer>
	<key>enableAdvancedMode</key>
	<false/>
	<key>addToLoginItems</key>
	<false/>
	<key>displayCrackTime</key>
	<false/>
</dict>
</plist>
