/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 33, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue";
}

/* line 37, ../sass/screen.scss */
h1, h2, h3, h4 {
  color: #555555;
  clear: both;
}

/* line 52, ../sass/screen.scss */
div.body {
  width: 800px;
  display: block;
  margin: 0 auto;
}

/* line 57, ../sass/screen.scss */
h1 {
  font-size: 1.5em;
  line-height: 1.375em;
  background-image: url("../../shrd/icon.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 40px;
  margin: 0 auto 0.75em;
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  background-size: 32px 32px;
}

/* line 72, ../sass/screen.scss */
h2 {
  font-size: 1.375em;
  line-height: 1.36364em;
  margin: 0 auto 0.1875em;
}

/* line 76, ../sass/screen.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.35em;
}

/* line 80, ../sass/screen.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.5em;
}

/* line 84, ../sass/screen.scss */
p {
  margin: 0 auto 1.5em;
  display: block;
}

/* line 95, ../sass/screen.scss */
img.window {
  display: block;
  margin: 20px auto;
}

/* line 99, ../sass/screen.scss */
dl {
  display: block;
  clear: both;
  padding: 10px 0;
}

/* line 104, ../sass/screen.scss */
dt {
  display: block;
  color: #555555;
  padding-left: 10px;
}

/* line 109, ../sass/screen.scss */
dt::after {
  content: ":";
  font-weight: normal;
}

/* line 113, ../sass/screen.scss */
dd {
  display: block;
  padding-left: 20px;
}

/* line 117, ../sass/screen.scss */
section {
  border: 1px solid #cccccc;
  background: #fbfbfb;
  margin: 8px 0px;
  padding: 5px;
}

/* line 123, ../sass/screen.scss */
section > section {
  border: none;
}

/* line 126, ../sass/screen.scss */
div#sidebar {
  position: fixed;
}

/* line 130, ../sass/screen.scss */
div.content {
  margin-left: 115px;
}

/* line 133, ../sass/screen.scss */
#sidebar a {
  text-decoration: none;
  color: #555555;
  font-size: 0.75em;
  line-height: 2.75em;
  line-height: 12px;
}
p.note {
  font-style: italic;
}
