<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorPasswordText</key>
	<true/>
	<key>upperTextColor</key>
	<string>4CB547</string>
	<key>lowerTextColor</key>
	<string>1D451B</string>
	<key>symbolTextColor</key>
	<string>922890</string>
	<key>numberTextColor</key>
	<string>FF4CFC</string>
	<key>defaultTextColor</key>
	<string>000000</string>
	<key>clearClipboard</key>
	<false/>
	<key>clearClipboardTime</key>
	<integer>30</integer>
	<key>globalHotkeyShowNotification</key>
	<true/>
	<key>globalHotkeyPlaySound</key>
	<false/>
	<key>isMenuApp</key>
	<false/>
	<key>hideDockIcon</key>
	<false/>
	<key>randomUseSymbols</key>
	<true/>
	<key>randomUseEmoji</key>
	<false/>
	<key>randomAvoidAmbiguous</key>
	<true/>
	<key>randomCaseTypeIndex</key>
	<integer>0</integer>
	<key>randomUseNumbers</key>
	<true/>
	<key>passwordLength</key>
	<integer>20</integer>
	<key>pronounceableSeparatorTypeIndex</key>
	<integer>1</integer>
	<key>pronounceableCaseTypeIndex</key>
	<integer>0</integer>
	<key>userPattern</key>
	<string>w##</string>
	<key>passphraseSeparatorTypeIndex</key>
	<integer>1</integer>
	<key>passphraseCaseTypeIndex</key>
	<integer>0</integer>
	<key>addToLoginItems</key>
	<false/>
	<key>displayCrackTime</key>
	<false/>
	<key>selectedPasswordType</key>
	<integer>401</integer>
	<key>notificationSound</key>
	<string>Hero</string>
	<key>maxPasswordLength</key>
	<integer>50</integer>
	<key>enableAdvanced</key>
	<false/>
	<key>storePasswords</key>
	<false/>
	<key>advancedSourceIndex</key>
	<integer>0</integer>
	<key>advancedSymbolCasePercent</key>
	<integer>0</integer>
	<key>advancedAccentedCasePercent</key>
	<integer>0</integer>
	<key>advancedTruncateAt</key>
	<integer>0</integer>
	<key>advancedReplaceAmbiguous</key>
	<false/>
	<key>advancedRandomCase</key>
	<false/>
	<key>advancedPrefixPattern</key>
	<string></string>
	<key>advancedSuffixPattern</key>
	<string></string>
	<key>advancedFindRegex</key>
	<string></string>
	<key>advancedReplacePattern</key>
	<string></string>
	<key>advancedCaseTypeIndex</key>
	<integer>0</integer>
	<key>maxStoredPasswords</key>
	<integer>100</integer>
	<key>storedPasswordTableSelectedRow</key>
	<integer>0</integer>
	<key>hideExtendedCharacterWarning</key>
	<false/>
	<key>hideStartAtLoginNotInApplicationsWarning</key>
	<false/>
	<key>hideStoredPasswordOnWarning</key>
	<false/>
	<key>hideStoredPasswordOffWarning</key>
	<false/>
	<key>hideMenuRestartWarning</key>
	<false/>
	<key>hideEraseRemoteStoreWarning</key>
	<false/>
	<key>hideResetToDefaultsWarning</key>
	<false/>
	<key>hideEnableRemoteStoreWarning</key>
	<false/>
	<key>hideRemoteStoreChangeWarning</key>
	<false/>
	<key>hideDisableRemoteStoreWarning</key>
	<false/>
	<key>enableRemoteStore</key>
	<false/>
	<key>cloudKitChangeToken</key>
	<data></data>
	<key>cloudKitZoneLoaded</key>
	<integer>0</integer>
	<key>cloudKitZoneCreated</key>
	<integer>0</integer>
	<key>cloudKitSynced</key>
	<false/>
	<key>enabledHomeScreenItems</key>
	<array>
		<integer>401</integer>
		<integer>402</integer>
		<integer>403</integer>
		<integer>404</integer>
	</array>
	<key>disabledHomeScreenItems</key>
	<array>
		<integer>405</integer>
	</array>
</dict>
</plist>
